* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #333;
    .launchpad {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        .pad {
            height: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #f9f9f9;
            &:nth-child(1) {
                background-color: rgb(168, 76, 76);
            }
            &:nth-child(2) {
                background-color: rgb(76, 82, 168);
            }
            &:nth-child(3) {
                background-color: rgb(76, 168, 137);
            }
            &:nth-child(4) {
                background-color: rgb(168, 76, 156);
            }
            &:nth-child(5) {
                background-color: rgb(154, 168, 76);
            }
        }
    }
}
